
API/bin/Debug/net7.0/API.dll
API/bin/Debug/net7.0/API.pdb
API/bin/Debug/net7.0/Domain.dll
API/bin/Debug/net7.0/Domain.pdb
API/bin/Debug/net7.0/Infraestructure.dll
API/bin/Debug/net7.0/Infraestructure.pdb
API/obj/API.csproj.nuget.g.props
API/obj/Debug/net7.0/API.assets.cache
API/obj/API.csproj.nuget.dgspec.json
API/obj/Debug/net7.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net7.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net7.0/API.dll
API/obj/Debug/net7.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net7.0/API.genruntimeconfig.cache
API/obj/Debug/net7.0/API.pdb
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/project.packagespec.json
API/obj/rider.project.restore.info
Domain.Test/bin/Debug/net7.0/CoverletSourceRootsMapping
Domain.Test/obj/Debug/net7.0/Domain.Test.assets.cache
Domain.Test/obj/Debug/net7.0/Domain.Test.csproj.AssemblyReference.cache
Domain.Test/obj/Debug/net7.0/Domain.Test.GeneratedMSBuildEditorConfig.editorconfig
Domain.Test/obj/Domain.Test.csproj.nuget.g.props
Domain.Test/obj/Domain.Test.csproj.nuget.dgspec.json
Domain.Test/obj/project.assets.json
Domain.Test/obj/project.nuget.cache
Domain.Test/obj/project.packagespec.json
Domain.Test/obj/rider.project.restore.info
Domain/bin/Debug/net7.0/Domain.pdb
Domain/bin/Debug/net7.0/Infraestructure.dll
Domain/bin/Debug/net7.0/Domain.dll
Domain/bin/Debug/net7.0/Infraestructure.pdb
Domain/obj/Debug/net7.0/Domain.assets.cache
Domain/obj/Debug/net7.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net7.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net7.0/Domain.dll
Domain/obj/Debug/net7.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net7.0/Domain.pdb
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/project.packagespec.json
Domain/obj/rider.project.restore.info
Infraestructure/bin/Debug/net7.0/Infraestructure.pdb
Infraestructure/obj/Debug/net7.0/Infraestructure.assets.cache
Infraestructure/bin/Debug/net7.0/Infraestructure.dll
Infraestructure/obj/Debug/net7.0/Infraestructure.csproj.CoreCompileInputs.cache
Infraestructure/obj/Debug/net7.0/Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
Infraestructure/obj/Debug/net7.0/Infraestructure.pdb
Infraestructure/obj/Debug/net7.0/Infraestructure.dll
Infraestructure/obj/Infraestructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infraestructure.csproj.nuget.g.props
Infraestructure/obj/project.assets.json
Infraestructure/obj/project.nuget.cache
Infraestructure/obj/rider.project.restore.info
Infraestructure/obj/project.packagespec.json
